--
-- PostgreSQL database dump
--

\restrict vfcA27sYYDAprKxnoaMjLaIKZGIzp4eBKFRfrJJYfp4vvm6YiV6AbU7q71xriCy

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Clientes" (
    id_cliente integer NOT NULL,
    nombre text NOT NULL,
    apellido text NOT NULL,
    empresa text,
    telefono text NOT NULL,
    email text NOT NULL,
    password text,
    direccion text NOT NULL,
    fecha_alta timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Clientes" OWNER TO postgres;

--
-- Name: Clientes_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Clientes_id_cliente_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Clientes_id_cliente_seq" OWNER TO postgres;

--
-- Name: Clientes_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Clientes_id_cliente_seq" OWNED BY public."Clientes".id_cliente;


--
-- Name: Compras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Compras" (
    id_compra integer NOT NULL,
    fecha_compra timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total double precision NOT NULL,
    estado text DEFAULT 'completada'::text NOT NULL,
    notas text,
    id_proveedor integer NOT NULL
);


ALTER TABLE public."Compras" OWNER TO postgres;

--
-- Name: Compras_Repuestos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Compras_Repuestos" (
    id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario double precision NOT NULL,
    subtotal double precision NOT NULL,
    id_compra integer NOT NULL,
    id_repuesto integer NOT NULL
);


ALTER TABLE public."Compras_Repuestos" OWNER TO postgres;

--
-- Name: Compras_Repuestos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Compras_Repuestos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Compras_Repuestos_id_seq" OWNER TO postgres;

--
-- Name: Compras_Repuestos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Compras_Repuestos_id_seq" OWNED BY public."Compras_Repuestos".id;


--
-- Name: Compras_id_compra_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Compras_id_compra_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Compras_id_compra_seq" OWNER TO postgres;

--
-- Name: Compras_id_compra_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Compras_id_compra_seq" OWNED BY public."Compras".id_compra;


--
-- Name: Empleado_Permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Empleado_Permiso" (
    id_empleado integer NOT NULL,
    id_permiso integer NOT NULL
);


ALTER TABLE public."Empleado_Permiso" OWNER TO postgres;

--
-- Name: Empleados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Empleados" (
    id_empleado integer NOT NULL,
    nombre text NOT NULL,
    apellido text NOT NULL,
    email text,
    password text,
    rol text NOT NULL,
    fecha_ingreso timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    direccion text,
    telefono text
);


ALTER TABLE public."Empleados" OWNER TO postgres;

--
-- Name: Empleados_id_empleado_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Empleados_id_empleado_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Empleados_id_empleado_seq" OWNER TO postgres;

--
-- Name: Empleados_id_empleado_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Empleados_id_empleado_seq" OWNED BY public."Empleados".id_empleado;


--
-- Name: Facturas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Facturas" (
    id_factura integer NOT NULL,
    fecha_factura timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    monto double precision NOT NULL,
    estado_pago text NOT NULL,
    metodo_pago text,
    id_orden integer NOT NULL
);


ALTER TABLE public."Facturas" OWNER TO postgres;

--
-- Name: Facturas_id_factura_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Facturas_id_factura_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Facturas_id_factura_seq" OWNER TO postgres;

--
-- Name: Facturas_id_factura_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Facturas_id_factura_seq" OWNED BY public."Facturas".id_factura;


--
-- Name: Historial_Vehiculo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Historial_Vehiculo" (
    id_hist integer NOT NULL,
    fecha timestamp(3) without time zone NOT NULL,
    kilometraje integer NOT NULL,
    notas text,
    id_vehiculo integer NOT NULL,
    id_orden integer NOT NULL
);


ALTER TABLE public."Historial_Vehiculo" OWNER TO postgres;

--
-- Name: Historial_Vehiculo_id_hist_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Historial_Vehiculo_id_hist_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Historial_Vehiculo_id_hist_seq" OWNER TO postgres;

--
-- Name: Historial_Vehiculo_id_hist_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Historial_Vehiculo_id_hist_seq" OWNED BY public."Historial_Vehiculo".id_hist;


--
-- Name: OrdenesDeTrabajo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrdenesDeTrabajo" (
    id_orden integer NOT NULL,
    fecha_apertura timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_entrega_estimada timestamp(3) without time zone,
    fecha_entrega_real timestamp(3) without time zone,
    estado text NOT NULL,
    total_estimado double precision NOT NULL,
    total_real double precision,
    id_cliente integer NOT NULL,
    id_vehiculo integer NOT NULL,
    id_empleado_responsable integer,
    notas text
);


ALTER TABLE public."OrdenesDeTrabajo" OWNER TO postgres;

--
-- Name: OrdenesDeTrabajo_id_orden_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."OrdenesDeTrabajo_id_orden_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OrdenesDeTrabajo_id_orden_seq" OWNER TO postgres;

--
-- Name: OrdenesDeTrabajo_id_orden_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."OrdenesDeTrabajo_id_orden_seq" OWNED BY public."OrdenesDeTrabajo".id_orden;


--
-- Name: Ordenes_Repuestos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ordenes_Repuestos" (
    id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario double precision NOT NULL,
    subtotal double precision NOT NULL,
    id_orden integer NOT NULL,
    id_repuesto integer NOT NULL
);


ALTER TABLE public."Ordenes_Repuestos" OWNER TO postgres;

--
-- Name: Ordenes_Repuestos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Ordenes_Repuestos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Ordenes_Repuestos_id_seq" OWNER TO postgres;

--
-- Name: Ordenes_Repuestos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Ordenes_Repuestos_id_seq" OWNED BY public."Ordenes_Repuestos".id;


--
-- Name: Ordenes_Servicios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ordenes_Servicios" (
    id integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario double precision NOT NULL,
    subtotal double precision NOT NULL,
    id_orden integer NOT NULL,
    id_servicio integer NOT NULL
);


ALTER TABLE public."Ordenes_Servicios" OWNER TO postgres;

--
-- Name: Ordenes_Servicios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Ordenes_Servicios_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Ordenes_Servicios_id_seq" OWNER TO postgres;

--
-- Name: Ordenes_Servicios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Ordenes_Servicios_id_seq" OWNED BY public."Ordenes_Servicios".id;


--
-- Name: Permisos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Permisos" (
    id_permiso integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    modulo text NOT NULL,
    accion text NOT NULL
);


ALTER TABLE public."Permisos" OWNER TO postgres;

--
-- Name: Permisos_id_permiso_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Permisos_id_permiso_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Permisos_id_permiso_seq" OWNER TO postgres;

--
-- Name: Permisos_id_permiso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Permisos_id_permiso_seq" OWNED BY public."Permisos".id_permiso;


--
-- Name: Proveedores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Proveedores" (
    id_proveedor integer NOT NULL,
    nombre text NOT NULL,
    empresa text,
    telefono text NOT NULL,
    email text NOT NULL,
    direccion text,
    activo boolean DEFAULT true NOT NULL,
    fecha_alta timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Proveedores" OWNER TO postgres;

--
-- Name: Proveedores_id_proveedor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Proveedores_id_proveedor_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Proveedores_id_proveedor_seq" OWNER TO postgres;

--
-- Name: Proveedores_id_proveedor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Proveedores_id_proveedor_seq" OWNED BY public."Proveedores".id_proveedor;


--
-- Name: Repuestos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Repuestos" (
    id_repuesto integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    unidad_medida text NOT NULL,
    stock_actual integer NOT NULL,
    precio_venta double precision NOT NULL,
    stock_minimo integer NOT NULL,
    codigo text NOT NULL,
    precio_compra double precision NOT NULL
);


ALTER TABLE public."Repuestos" OWNER TO postgres;

--
-- Name: Repuestos_id_repuesto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Repuestos_id_repuesto_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Repuestos_id_repuesto_seq" OWNER TO postgres;

--
-- Name: Repuestos_id_repuesto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Repuestos_id_repuesto_seq" OWNED BY public."Repuestos".id_repuesto;


--
-- Name: Rol_Permiso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rol_Permiso" (
    id_rol integer NOT NULL,
    id_permiso integer NOT NULL
);


ALTER TABLE public."Rol_Permiso" OWNER TO postgres;

--
-- Name: Roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Roles" (
    id_rol integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public."Roles" OWNER TO postgres;

--
-- Name: Roles_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Roles_id_rol_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Roles_id_rol_seq" OWNER TO postgres;

--
-- Name: Roles_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Roles_id_rol_seq" OWNED BY public."Roles".id_rol;


--
-- Name: Servicios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Servicios" (
    id_servicio integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    precio double precision NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    tiempo_estimado integer
);


ALTER TABLE public."Servicios" OWNER TO postgres;

--
-- Name: Servicios_id_servicio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Servicios_id_servicio_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Servicios_id_servicio_seq" OWNER TO postgres;

--
-- Name: Servicios_id_servicio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Servicios_id_servicio_seq" OWNED BY public."Servicios".id_servicio;


--
-- Name: Vehiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Vehiculos" (
    id_vehiculo integer NOT NULL,
    placa text NOT NULL,
    vin text NOT NULL,
    marca text NOT NULL,
    modelo text NOT NULL,
    anio integer NOT NULL,
    detalles text,
    id_cliente integer NOT NULL
);


ALTER TABLE public."Vehiculos" OWNER TO postgres;

--
-- Name: Vehiculos_id_vehiculo_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Vehiculos_id_vehiculo_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Vehiculos_id_vehiculo_seq" OWNER TO postgres;

--
-- Name: Vehiculos_id_vehiculo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Vehiculos_id_vehiculo_seq" OWNED BY public."Vehiculos".id_vehiculo;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Clientes id_cliente; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Clientes" ALTER COLUMN id_cliente SET DEFAULT nextval('public."Clientes_id_cliente_seq"'::regclass);


--
-- Name: Compras id_compra; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras" ALTER COLUMN id_compra SET DEFAULT nextval('public."Compras_id_compra_seq"'::regclass);


--
-- Name: Compras_Repuestos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras_Repuestos" ALTER COLUMN id SET DEFAULT nextval('public."Compras_Repuestos_id_seq"'::regclass);


--
-- Name: Empleados id_empleado; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Empleados" ALTER COLUMN id_empleado SET DEFAULT nextval('public."Empleados_id_empleado_seq"'::regclass);


--
-- Name: Facturas id_factura; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facturas" ALTER COLUMN id_factura SET DEFAULT nextval('public."Facturas_id_factura_seq"'::regclass);


--
-- Name: Historial_Vehiculo id_hist; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Historial_Vehiculo" ALTER COLUMN id_hist SET DEFAULT nextval('public."Historial_Vehiculo_id_hist_seq"'::regclass);


--
-- Name: OrdenesDeTrabajo id_orden; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrdenesDeTrabajo" ALTER COLUMN id_orden SET DEFAULT nextval('public."OrdenesDeTrabajo_id_orden_seq"'::regclass);


--
-- Name: Ordenes_Repuestos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Repuestos" ALTER COLUMN id SET DEFAULT nextval('public."Ordenes_Repuestos_id_seq"'::regclass);


--
-- Name: Ordenes_Servicios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Servicios" ALTER COLUMN id SET DEFAULT nextval('public."Ordenes_Servicios_id_seq"'::regclass);


--
-- Name: Permisos id_permiso; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permisos" ALTER COLUMN id_permiso SET DEFAULT nextval('public."Permisos_id_permiso_seq"'::regclass);


--
-- Name: Proveedores id_proveedor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Proveedores" ALTER COLUMN id_proveedor SET DEFAULT nextval('public."Proveedores_id_proveedor_seq"'::regclass);


--
-- Name: Repuestos id_repuesto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Repuestos" ALTER COLUMN id_repuesto SET DEFAULT nextval('public."Repuestos_id_repuesto_seq"'::regclass);


--
-- Name: Roles id_rol; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Roles" ALTER COLUMN id_rol SET DEFAULT nextval('public."Roles_id_rol_seq"'::regclass);


--
-- Name: Servicios id_servicio; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Servicios" ALTER COLUMN id_servicio SET DEFAULT nextval('public."Servicios_id_servicio_seq"'::regclass);


--
-- Name: Vehiculos id_vehiculo; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehiculos" ALTER COLUMN id_vehiculo SET DEFAULT nextval('public."Vehiculos_id_vehiculo_seq"'::regclass);


--
-- Data for Name: Clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Clientes" (id_cliente, nombre, apellido, empresa, telefono, email, password, direccion, fecha_alta) FROM stdin;
\.


--
-- Data for Name: Compras; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Compras" (id_compra, fecha_compra, total, estado, notas, id_proveedor) FROM stdin;
\.


--
-- Data for Name: Compras_Repuestos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Compras_Repuestos" (id, cantidad, precio_unitario, subtotal, id_compra, id_repuesto) FROM stdin;
\.


--
-- Data for Name: Empleado_Permiso; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Empleado_Permiso" (id_empleado, id_permiso) FROM stdin;
\.


--
-- Data for Name: Empleados; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Empleados" (id_empleado, nombre, apellido, email, password, rol, fecha_ingreso, activo, direccion, telefono) FROM stdin;
2	Admin	Sistema	admin@taller.com	$2b$10$0m3R2FABdAUvH0nL46mOueYTTKAVZkvKs26pRNCJpO6eXLYsjUnay	admin	2025-11-16 02:46:40.641	t	\N	\N
3	Test	User	test@test.com	$2b$10$dBJxAtjvq.T5Kw89AII0fOAUETxhdd6u/JftIH2WfbVrIuF8eIAnu	admin	2025-11-16 02:52:43.881	t	\N	\N
\.


--
-- Data for Name: Facturas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Facturas" (id_factura, fecha_factura, monto, estado_pago, metodo_pago, id_orden) FROM stdin;
\.


--
-- Data for Name: Historial_Vehiculo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Historial_Vehiculo" (id_hist, fecha, kilometraje, notas, id_vehiculo, id_orden) FROM stdin;
\.


--
-- Data for Name: OrdenesDeTrabajo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OrdenesDeTrabajo" (id_orden, fecha_apertura, fecha_entrega_estimada, fecha_entrega_real, estado, total_estimado, total_real, id_cliente, id_vehiculo, id_empleado_responsable, notas) FROM stdin;
\.


--
-- Data for Name: Ordenes_Repuestos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Ordenes_Repuestos" (id, cantidad, precio_unitario, subtotal, id_orden, id_repuesto) FROM stdin;
\.


--
-- Data for Name: Ordenes_Servicios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Ordenes_Servicios" (id, cantidad, precio_unitario, subtotal, id_orden, id_servicio) FROM stdin;
\.


--
-- Data for Name: Permisos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Permisos" (id_permiso, nombre, descripcion, modulo, accion) FROM stdin;
\.


--
-- Data for Name: Proveedores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Proveedores" (id_proveedor, nombre, empresa, telefono, email, direccion, activo, fecha_alta) FROM stdin;
\.


--
-- Data for Name: Repuestos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Repuestos" (id_repuesto, nombre, descripcion, unidad_medida, stock_actual, precio_venta, stock_minimo, codigo, precio_compra) FROM stdin;
\.


--
-- Data for Name: Rol_Permiso; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rol_Permiso" (id_rol, id_permiso) FROM stdin;
\.


--
-- Data for Name: Roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Roles" (id_rol, nombre, descripcion, activo) FROM stdin;
\.


--
-- Data for Name: Servicios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Servicios" (id_servicio, nombre, descripcion, precio, activo, tiempo_estimado) FROM stdin;
\.


--
-- Data for Name: Vehiculos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Vehiculos" (id_vehiculo, placa, vin, marca, modelo, anio, detalles, id_cliente) FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Clientes_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Clientes_id_cliente_seq"', 1, false);


--
-- Name: Compras_Repuestos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Compras_Repuestos_id_seq"', 1, false);


--
-- Name: Compras_id_compra_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Compras_id_compra_seq"', 1, false);


--
-- Name: Empleados_id_empleado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Empleados_id_empleado_seq"', 3, true);


--
-- Name: Facturas_id_factura_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Facturas_id_factura_seq"', 1, false);


--
-- Name: Historial_Vehiculo_id_hist_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Historial_Vehiculo_id_hist_seq"', 1, false);


--
-- Name: OrdenesDeTrabajo_id_orden_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."OrdenesDeTrabajo_id_orden_seq"', 1, false);


--
-- Name: Ordenes_Repuestos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Ordenes_Repuestos_id_seq"', 1, false);


--
-- Name: Ordenes_Servicios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Ordenes_Servicios_id_seq"', 1, false);


--
-- Name: Permisos_id_permiso_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Permisos_id_permiso_seq"', 1, false);


--
-- Name: Proveedores_id_proveedor_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Proveedores_id_proveedor_seq"', 1, false);


--
-- Name: Repuestos_id_repuesto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Repuestos_id_repuesto_seq"', 1, false);


--
-- Name: Roles_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Roles_id_rol_seq"', 1, false);


--
-- Name: Servicios_id_servicio_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Servicios_id_servicio_seq"', 1, false);


--
-- Name: Vehiculos_id_vehiculo_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Vehiculos_id_vehiculo_seq"', 1, false);


--
-- Name: Clientes Clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Clientes"
    ADD CONSTRAINT "Clientes_pkey" PRIMARY KEY (id_cliente);


--
-- Name: Compras_Repuestos Compras_Repuestos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras_Repuestos"
    ADD CONSTRAINT "Compras_Repuestos_pkey" PRIMARY KEY (id);


--
-- Name: Compras Compras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras"
    ADD CONSTRAINT "Compras_pkey" PRIMARY KEY (id_compra);


--
-- Name: Empleado_Permiso Empleado_Permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Empleado_Permiso"
    ADD CONSTRAINT "Empleado_Permiso_pkey" PRIMARY KEY (id_empleado, id_permiso);


--
-- Name: Empleados Empleados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Empleados"
    ADD CONSTRAINT "Empleados_pkey" PRIMARY KEY (id_empleado);


--
-- Name: Facturas Facturas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facturas"
    ADD CONSTRAINT "Facturas_pkey" PRIMARY KEY (id_factura);


--
-- Name: Historial_Vehiculo Historial_Vehiculo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Historial_Vehiculo"
    ADD CONSTRAINT "Historial_Vehiculo_pkey" PRIMARY KEY (id_hist);


--
-- Name: OrdenesDeTrabajo OrdenesDeTrabajo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrdenesDeTrabajo"
    ADD CONSTRAINT "OrdenesDeTrabajo_pkey" PRIMARY KEY (id_orden);


--
-- Name: Ordenes_Repuestos Ordenes_Repuestos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Repuestos"
    ADD CONSTRAINT "Ordenes_Repuestos_pkey" PRIMARY KEY (id);


--
-- Name: Ordenes_Servicios Ordenes_Servicios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Servicios"
    ADD CONSTRAINT "Ordenes_Servicios_pkey" PRIMARY KEY (id);


--
-- Name: Permisos Permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permisos"
    ADD CONSTRAINT "Permisos_pkey" PRIMARY KEY (id_permiso);


--
-- Name: Proveedores Proveedores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Proveedores"
    ADD CONSTRAINT "Proveedores_pkey" PRIMARY KEY (id_proveedor);


--
-- Name: Repuestos Repuestos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Repuestos"
    ADD CONSTRAINT "Repuestos_codigo_key" UNIQUE (codigo);


--
-- Name: Repuestos Repuestos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Repuestos"
    ADD CONSTRAINT "Repuestos_pkey" PRIMARY KEY (id_repuesto);


--
-- Name: Rol_Permiso Rol_Permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rol_Permiso"
    ADD CONSTRAINT "Rol_Permiso_pkey" PRIMARY KEY (id_rol, id_permiso);


--
-- Name: Roles Roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Roles"
    ADD CONSTRAINT "Roles_pkey" PRIMARY KEY (id_rol);


--
-- Name: Servicios Servicios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Servicios"
    ADD CONSTRAINT "Servicios_pkey" PRIMARY KEY (id_servicio);


--
-- Name: Vehiculos Vehiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehiculos"
    ADD CONSTRAINT "Vehiculos_pkey" PRIMARY KEY (id_vehiculo);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Clientes_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Clientes_email_key" ON public."Clientes" USING btree (email);


--
-- Name: Compras_Repuestos_id_compra_id_repuesto_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Compras_Repuestos_id_compra_id_repuesto_key" ON public."Compras_Repuestos" USING btree (id_compra, id_repuesto);


--
-- Name: Empleados_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Empleados_email_key" ON public."Empleados" USING btree (email);


--
-- Name: Facturas_id_orden_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Facturas_id_orden_key" ON public."Facturas" USING btree (id_orden);


--
-- Name: Ordenes_Repuestos_id_orden_id_repuesto_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Ordenes_Repuestos_id_orden_id_repuesto_key" ON public."Ordenes_Repuestos" USING btree (id_orden, id_repuesto);


--
-- Name: Ordenes_Servicios_id_orden_id_servicio_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Ordenes_Servicios_id_orden_id_servicio_key" ON public."Ordenes_Servicios" USING btree (id_orden, id_servicio);


--
-- Name: Permisos_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Permisos_nombre_key" ON public."Permisos" USING btree (nombre);


--
-- Name: Proveedores_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Proveedores_email_key" ON public."Proveedores" USING btree (email);


--
-- Name: Repuestos_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Repuestos_nombre_key" ON public."Repuestos" USING btree (nombre);


--
-- Name: Roles_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Roles_nombre_key" ON public."Roles" USING btree (nombre);


--
-- Name: Servicios_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Servicios_nombre_key" ON public."Servicios" USING btree (nombre);


--
-- Name: Vehiculos_placa_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Vehiculos_placa_key" ON public."Vehiculos" USING btree (placa);


--
-- Name: Vehiculos_vin_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Vehiculos_vin_key" ON public."Vehiculos" USING btree (vin);


--
-- Name: Compras_Repuestos Compras_Repuestos_id_compra_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras_Repuestos"
    ADD CONSTRAINT "Compras_Repuestos_id_compra_fkey" FOREIGN KEY (id_compra) REFERENCES public."Compras"(id_compra) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Compras_Repuestos Compras_Repuestos_id_repuesto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras_Repuestos"
    ADD CONSTRAINT "Compras_Repuestos_id_repuesto_fkey" FOREIGN KEY (id_repuesto) REFERENCES public."Repuestos"(id_repuesto) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Compras Compras_id_proveedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Compras"
    ADD CONSTRAINT "Compras_id_proveedor_fkey" FOREIGN KEY (id_proveedor) REFERENCES public."Proveedores"(id_proveedor) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Empleado_Permiso Empleado_Permiso_id_empleado_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Empleado_Permiso"
    ADD CONSTRAINT "Empleado_Permiso_id_empleado_fkey" FOREIGN KEY (id_empleado) REFERENCES public."Empleados"(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Empleado_Permiso Empleado_Permiso_id_permiso_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Empleado_Permiso"
    ADD CONSTRAINT "Empleado_Permiso_id_permiso_fkey" FOREIGN KEY (id_permiso) REFERENCES public."Permisos"(id_permiso) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Facturas Facturas_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facturas"
    ADD CONSTRAINT "Facturas_id_orden_fkey" FOREIGN KEY (id_orden) REFERENCES public."OrdenesDeTrabajo"(id_orden) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Historial_Vehiculo Historial_Vehiculo_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Historial_Vehiculo"
    ADD CONSTRAINT "Historial_Vehiculo_id_orden_fkey" FOREIGN KEY (id_orden) REFERENCES public."OrdenesDeTrabajo"(id_orden) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Historial_Vehiculo Historial_Vehiculo_id_vehiculo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Historial_Vehiculo"
    ADD CONSTRAINT "Historial_Vehiculo_id_vehiculo_fkey" FOREIGN KEY (id_vehiculo) REFERENCES public."Vehiculos"(id_vehiculo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrdenesDeTrabajo OrdenesDeTrabajo_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrdenesDeTrabajo"
    ADD CONSTRAINT "OrdenesDeTrabajo_id_cliente_fkey" FOREIGN KEY (id_cliente) REFERENCES public."Clientes"(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrdenesDeTrabajo OrdenesDeTrabajo_id_empleado_responsable_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrdenesDeTrabajo"
    ADD CONSTRAINT "OrdenesDeTrabajo_id_empleado_responsable_fkey" FOREIGN KEY (id_empleado_responsable) REFERENCES public."Empleados"(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OrdenesDeTrabajo OrdenesDeTrabajo_id_vehiculo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrdenesDeTrabajo"
    ADD CONSTRAINT "OrdenesDeTrabajo_id_vehiculo_fkey" FOREIGN KEY (id_vehiculo) REFERENCES public."Vehiculos"(id_vehiculo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ordenes_Repuestos Ordenes_Repuestos_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Repuestos"
    ADD CONSTRAINT "Ordenes_Repuestos_id_orden_fkey" FOREIGN KEY (id_orden) REFERENCES public."OrdenesDeTrabajo"(id_orden) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ordenes_Repuestos Ordenes_Repuestos_id_repuesto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Repuestos"
    ADD CONSTRAINT "Ordenes_Repuestos_id_repuesto_fkey" FOREIGN KEY (id_repuesto) REFERENCES public."Repuestos"(id_repuesto) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ordenes_Servicios Ordenes_Servicios_id_orden_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Servicios"
    ADD CONSTRAINT "Ordenes_Servicios_id_orden_fkey" FOREIGN KEY (id_orden) REFERENCES public."OrdenesDeTrabajo"(id_orden) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ordenes_Servicios Ordenes_Servicios_id_servicio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ordenes_Servicios"
    ADD CONSTRAINT "Ordenes_Servicios_id_servicio_fkey" FOREIGN KEY (id_servicio) REFERENCES public."Servicios"(id_servicio) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rol_Permiso Rol_Permiso_id_permiso_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rol_Permiso"
    ADD CONSTRAINT "Rol_Permiso_id_permiso_fkey" FOREIGN KEY (id_permiso) REFERENCES public."Permisos"(id_permiso) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Rol_Permiso Rol_Permiso_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rol_Permiso"
    ADD CONSTRAINT "Rol_Permiso_id_rol_fkey" FOREIGN KEY (id_rol) REFERENCES public."Roles"(id_rol) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Vehiculos Vehiculos_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehiculos"
    ADD CONSTRAINT "Vehiculos_id_cliente_fkey" FOREIGN KEY (id_cliente) REFERENCES public."Clientes"(id_cliente) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict vfcA27sYYDAprKxnoaMjLaIKZGIzp4eBKFRfrJJYfp4vvm6YiV6AbU7q71xriCy

